<form action="/auth/login" method="post">
  <label for="auth-name">Name</label>
  <input type="name" name="name" id="auth-name">
  <br>
  <label for="auth-password">Password</label>
  <input type="password" name="password" id="auth-password">
  <br>
  <input type="submit" value="Log In">
</form>