<form action="/search" method="get" class="search">
  <label for="mangaTitle">Manga Title:</label>
  <input type="text" name="manga" autofocus
         id="mangaTitle" placeholder="Enter Manga Name Here...">
  <input type="submit" hidden>
</form>