:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color-scheme: dark;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 25%);
  color: hsl(0, 0%, 75%);
}

.authentication {
  display: flex;
  justify-content: space-between;
  color: #deadbe;
}

.authentication > span {
  display: inline-block;
  padding: .5rem 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  width: 60rem;
  gap: .5rem;
}

.manga {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  row-gap: .5rem;
  width: 20rem;
  padding: 1rem;
}

.manga__description {
  overflow-y: auto;
  overflow-wrap: break-word;
  max-height: 10rem;
  grid-column-start: span 3;
}

.manga__title {
  font-size: 1.5rem;
  grid-column-start: span 3;
}

.manga__download {
  align-self: end;
  justify-self: center;
}

.manga__btn {
  height: 1.5rem;
  padding: 0 0.25rem;
}

.search {
  grid-column-start: span 3;
}

.search__input {
  width: 11rem;
  padding: 0.25rem;
}
